.card {
    margin: 0.25rem 0;
  }
  

  
  .card {
    -webkit-box-shadow: 0 0.125rem 0 0 #d7d7d7;
    box-shadow: 0 0.125rem 0 0 #d7d7d7;
    border-radius: 0.125rem;
    border: 1px solid #d7d7d7;
  }
  
  .card.clickable:hover {
    -webkit-box-shadow: 0 0.125rem 0 0 #0094d2;
    box-shadow: 0 0.125rem 0 0 #0094d2;
    border: 1px solid #0094d2;
    cursor: pointer;
    text-decoration: none;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: border 0.2s ease, -webkit-transform 0.2s ease;
    transition: border 0.2s ease, -webkit-transform 0.2s ease;
    transition: border 0.2s ease, transform 0.2s ease;
    transition: border 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  }
  
  .card-block .card-divider, .card .card-title,
  .card .card-text,
  .card .card-media-block,
  .card .list,
  .card .list-unstyled {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .card-block .card-divider:last-child, .card .card-title:last-child,
  .card .card-text:last-child,
  .card .card-media-block:last-child,
  .card .list:last-child,
  .card .list-unstyled:last-child {
    margin-bottom: 0;
  }
  
  .card.card-img > img,
  .card > .card-img:first-child:last-child > img, .card-img > img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  
  .card {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 1rem;
  }
  .card .btn-link {
    min-width: 0;
    padding: 0;
  }
  .card.clickable {
    color: inherit;
  }
  .card > .list, .card > .list-unstyled {
    padding: 0.5rem 0.75rem;
  }
  .card .list-group {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .card .list-group-item {
    padding: 0.5rem 0.75rem;
    font-size: 0.583333rem;
    background-color: white;
    border-bottom: 1px solid #ededed;
  }
  @supports (-ms-ime-align: auto) {
    .card .dropdown > .dropdown-toggle::after {
      display: inline-block;
      margin-top: -0.5rem;
    }
  }
  
  .card-header,
  .card-block,
  .card-footer {
    padding: 0.5rem 0.75rem;
  }
  
  .card-header,
  .card-title {
    color: black;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: normal;
  }
  
  .card-text {
    font-size: 0.8rem;
  }
  
  .card-img:first-child > img {
    border-radius: 0.125rem 0.125rem 0 0;
  }
  .card-img:last-child > img {
    border-radius: 0 0 0.125rem 0.125rem;
  }
  .card.card-img > img,
  .card > .card-img:first-child:last-child > img {
    border-radius: 0.125rem;
  }
  
  .card-block .btn,
  .card-block .btn.btn-link,
  .card-block .card-link,
  .card-footer .btn,
  .card-footer .btn.btn-link,
  .card-footer .card-link {
    margin: 0 0.5rem 0 0;
  }
  .card-block .btn-group .btn,
  .card-footer .btn-group .btn {
    margin: 0;
  }
  
  .card-header,
  .card-block {
    border-bottom: 1px solid #ededed;
  }
  .card-header:last-child,
  .card-block:last-child {
    border-bottom: none;
  }
  
  .card-divider {
    display: block;
    border-bottom: 1px solid #ededed;
  }
  
  .card-block .card-divider {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    width: auto;
  }
  
  .card-header + .card-divider,
  .card-block + .card-divider {
    display: none;
  }
  
  .card-media-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-media-block .card-media-image {
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 2.5rem;
    width: 2.5rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
  }
  .card-media-block .card-media-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 0 0.5rem;
  }
  .card-media-block .card-media-title {
    display: inline-block;
  }
  .card-media-block span,
  .card-media-block .card-media-text {
    display: inline-block;
  }
  .card-media-block.wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-media-block.wrap .card-media-description {
    margin: 0.25rem 0 0 0;
  }
  
  .card-block > .list, .card-block > .list-unstyled {
    padding: 0;
  }
  
  @media screen and (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 0.5rem;
      -moz-column-gap: 0.5rem;
      column-gap: 0.5rem;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      break-inside: avoid;
      -webkit-column-fill: balance;
      -moz-column-fill: balance;
      column-fill: balance;
      -webkit-perspective: 1;
    }
    .card-columns.card-columns-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    .card-columns.card-columns-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
    .card-columns .card {
      display: inline-block;
      margin: 0.25rem;
    }
    .card-columns .clickable {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  @supports (-ms-ime-align: auto) {
    .card .checkbox.btn label,
  .card .checkbox-inline.btn label,
  .card .radio.btn label,
  .card .radio-inline.btn label {
      display: inline-block;
    }
  }
  
  
  .card-block .progress,
  .card-block .progress-static,
  .card-footer .progress,
  .card-footer .progress-static {
    margin: 0;
    margin-top: -0.5rem;
    height: 0.15625rem;
    position: absolute;
    left: 0;
  }
  .card-block .progress > progress,
  .card-block .progress-static > .progress-meter,
  .card-footer .progress > progress,
  .card-footer .progress-static > .progress-meter {
    height: 0.15625rem;
    position: absolute;
  }
  .card-block .progress.top,
  .card-block .progress-static.top,
  .card-footer .progress.top,
  .card-footer .progress-static.top {
    margin-top: 0;
    top: 0;
  }
  
  
  .card-block .progress-block {
    margin-bottom: 0.5rem;
    padding: 0;
  }
  .card-block .progress-block:last-child {
    margin-bottom: 0;
  }
  .card-block .progress-block > label {
    max-width: 33%;
    line-height: 0.75rem;
  }
  .card-block .progress-block .progress,
  .card-block .progress-block .progress-static {
    position: relative;
    height: 0.53329167rem;
    margin-top: 0;
  }
  .card-block .progress-block .progress > progress, .card-block .progress-block .progress > .progress-meter,
  .card-block .progress-block .progress-static > progress,
  .card-block .progress-block .progress-static > .progress-meter {
    height: 0.53329167rem;
  }
  
  .card-footer .checkbox.btn label,
  .card-footer .radio.btn label {
    line-height: calc(1rem - 1px);
  }