<ng-container>
  <!-- First page -->
  <div id="presentation" class="section background row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-11 col-11">
      <!-- name -->
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10 col-10" style="height: 55vh;">
          <div class="animated-title">
            <div class="text-top">
              <div>
                <span> {{ data.presentation.firstname }} </span>
                <span> {{ data.presentation.lastname }} </span>
              </div>
            </div>
            <div class="text-bottom">
              <div> {{ data.presentation.title }} </div>
            </div>
          </div>
        </div>
      </div>
      <!-- description -->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-11 col-11" style="height: 25vh; position: relative;">
          <h5 id="description" class="animate__animated animate__backInLeft animate__delay-2s">{{ data.presentation.description }}</h5>
        </div>
      </div>

      <!-- Scroll -->
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col-4" style="height: 20vh; text-align: center;">
            <span class="hero__scroll">
              <i class="chevron bottom"></i>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div id="education" class="section row justify-content-center" style="margin-bottom: 2%;">
    <div class="col-lg-10 col-md-10 col-sm-11 col-11">
      <h2 class="my-title">FORMATION</h2>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-10 col-10" *ngFor="let e of data.education" data-aos="fade-up" data-aos-duration="3000">
          <a href="{{ e.url }}" class="card clickable">
            <div class="card-header">
                <div class="row align-items-center justify-content-between">
                    <div class="title" style="padding-left: 5%;">
                        <span style="display: block;">{{ e.school }}</span>
                        <span class="education-year">{{ e.start_year }} - {{ e.end_year }}</span>
                    </div>
                </div>
            </div>
            <div class="card-img">
                <img src="/assets/{{ e.url_img }}" alt="{{ e.school }}"/>
            </div>
            <div class="card-block">
                <p class="card-text">
                    {{ e.diploma }}
                </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="experiences" class="section row justify-content-center">
    <div class="timeline-container" id="timeline-1">
      <div class="row justify-content-center" style="margin-bottom: 2%;">
        <div class="col-lg-10 col-md-10 col-sm-11 col-11">
          <h2 class="my-title">EXPERIENCES</h2>
        </div>
      </div>
      <div class="timeline">
        <div class="timeline-item" data-text="Apprenti ingénieur informatique">
          <div class="timeline__content"><img class="timeline__img" src="/assets/{{ data.experiences[0].img }}"/>
            <h2 class="timeline__content-title">{{ data.experiences[0].year }}</h2>
            <p class="timeline__content-desc">
              <span style="display: block; font-weight: bold; text-transform: uppercase;">
                {{ data.experiences[0].company }}
              </span>
              <span>
                {{ data.experiences[0].description }}
              </span>
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Stagiaire ingénieur informatique">
          <div class="timeline__content"><img class="timeline__img" src="/assets/{{ data.experiences[1].img }}"/>
            <h2 class="timeline__content-title">{{ data.experiences[1].year }}</h2>
            <p class="timeline__content-desc">
              <span style="display: block; font-weight: bold; text-transform: uppercase;">
                {{ data.experiences[1].company }}
              </span>
              <span>
                {{ data.experiences[1].description }}
              </span>
            </p>
          </div>
        </div>
        <div class="timeline-item" data-text="Apprenti développeur informatique">
          <div class="timeline__content"><img class="timeline__img" src="/assets/{{ data.experiences[2].img }}"/>
            <h2 class="timeline__content-title">{{ data.experiences[2].year }}</h2>
            <p class="timeline__content-desc">
              <span style="display: block; font-weight: bold; text-transform: uppercase;">
                {{ data.experiences[2].company }}
              </span>
              <span>
                {{ data.experiences[2].description }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="languages" class="section row justify-content-center" style="margin-bottom: 2%;">
    <div class="col-lg-10 col-md-10 col-sm-11 col-11">
      <!-- <h2 class="my-title">LANGUES</h2> -->
      <div class="row justify-content-center" style="padding-top:2%;">
        <div class="col-lg-4 cl-col-md-4 col-sm-10 col-10" style="padding-bottom:5%; text-align: center;" *ngFor="let l of data.languages">
          <h5><img src="{{l.url_flag}}" style="width: 40px;"> {{ l.language }}</h5>
          <div class="rating">
            <a href="#" *ngFor="let i of [].constructor(l.level_nb)">☆</a>
          </div>
          <p style="margin-bottom: 2%; margin-top:1%;">{{l.level_string}}</p>
          <div *ngFor="let c of l.certifications">
            <p style="vertical-align: middle;"><img src="/assets/trophy.png" style="width: 30px;"><span style="font-weight: bold;">  {{c.name}}  </span>{{c.score}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="section background row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-11 col-11" style="margin-bottom: 2%;">
      <!-- <h2 class="my-title">SKILLS</h2> -->
      <!-- <div class="row justify-content-center" style="padding-top: 30vh;">
        <p style="color: yellow; font-size: 2rem; vertical-align: middle;"><img src="https://i.pinimg.com/originals/63/f3/10/63f310075497906d8be02552eaeab810.gif"> Under Development</p>
      </div> -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 10%; margin-bottom: 10%; padding: 0%">
          <p style="color:  #FF4081; font-size: 1.3rem; font-style: italic;">Hard Skills</p>
          <div *ngFor="let s of data.skills.hard_skills, let i = index">
            <div class="row justify-content-center" style="padding-top: 3%; padding-bottom: 3%;">
              <div class="col-lg-4 col-md-4 col-sm-4 col-4" style="padding-left: 0;">
                <p style="word-wrap: break-word;">{{ s.name }}</p>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0;">
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-blue w3-round-xlarge" id="hard_skills_{{i}}">{{ s.level }}%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 10%; margin-bottom: 10%; padding: 0%">
          <p style="color: #FF4081; font-size: 1.3rem; font-style: italic;">Soft Skills</p>
          <div *ngFor="let s of data.skills.soft_skills, let i = index">
            <div class="row justify-content-center" style="padding-top: 3%; padding-bottom: 3%;">
              <div class="col-lg-4 col-md-4 col-sm-4 col-4" style="padding-left: 0;">
                <p style="word-wrap: break-word;">{{ s.name }}</p>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0;">
                <div class="w3-light-grey w3-round-xlarge">
                  <div class="w3-container w3-blue w3-round-xlarge" id="soft_skills_{{i}}">{{ s.level }}%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="section row justify-content-center" style="margin-bottom: 2%;">
    <div class="col-lg-10 col-md-10 col-sm-11 col-11">
      <!-- <h2 class="my-title">CONTACT</h2> -->
      <div class="row justify-content-center">
        <!-- <div class="col" style="text-align: center;">
            <a href="mailto:thibaud_at@yahoo.com"><img src="../../../assets/images/mail.png" alt="mail" style="height: 5vh"/></a>
        </div> -->
        <div class="col-2" style="text-align: center; vertical-align: middle;">
            <a href="https://www.linkedin.com/in/thibaud-avril-terrones" target="_blank"><img src="/assets/linkedin.png" alt="linkedin" style="height: 5vh"/></a>
        </div>
        <div class="col-2" style="text-align: center; vertical-align: middle;">
            <a href="https://gitlab.com/thibaud_at" target="_blank"><img src="/assets/gitlab.png" alt="gitlab" style="height: 5vh"/></a>
        </div>
      </div>
    </div>
  </div>
</ng-container>